# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


NEXT_PUBLIC_BASE_API_URL=http://localhost:3000
RESEND_API_KEY="your resend api key"

# Vous pouvez tous les prendres dans un de vos stockages sur vercel ou remplacer le contenu suivi par votre database mysql,mongodb
POSTGRES_URL="your postgres url"
POSTGRES_PRISMA_URL="your prisma url"
POSTGRES_URL_NO_SSL="your postgres url no sss"
POSTGRES_URL_NON_POOLING="your postgres non pooling url"
POSTGRES_USER="default"
POSTGRES_HOST="your postgres host"
POSTGRES_PASSWORD="your postgress database in vercel"
POSTGRES_DATABASE="your postgres database name"

# Uilisation de mongo db,mysql ou autre db remplacer le contenu de la ligne suivi par votre db cluster url pour la connexion avec vscode
# DATABASE_URL="file:./dev.db"
